<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Hello</title>
</head>
<body>

    <h1> {{ question }} </h1>
    <br>

     <form id="form" method="POST" action="{% url 'pptwebreborn:savedStatus' %}">
         {% csrf_token %}
         {{ status_form }}
         <button type="submit" class="btn btn-default">Submit</button>
     </form>
    <br>

    <table id="status_table">
        <thead>
            <th>Status</th>
            <th>Created Date</th>
        </thead>
    <tbody>
        {% for i in allStatus %}
        <tr class="success">
            <td> {{i.status}} </td>
            <td> {{i.created_at}} </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</body>
</html>