<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>

    <!--profile start -->
		<section id="profile" class="profile">
            <div class="section-heading text-center">
                <h2>PROFILE</h2>
                <img src="{% static 'images/photo.gif' %}" alt="Nabila Febri Viola" img id="profile-photo">
                <h3>Nabila Febri Viola</h3>
                <p id="description-bio">
                    I was born on the 3rd of February 1999 in Jakarta.
                    I am currently living in Depok to pursue my dream of becoming a programmer.
                    I spend my time by playing games, reading books, watching movies, writing reviews, and solving jigsaw puzzles.
                </p>
            </div>
        </section>
</body>
</html>