#profile-photo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 10px 20px 10px;
    border-radius: 10%;
}

#description-bio {
    text-align: center;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2, h3 {
    "text-align: center;"
}

#status_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 120px
}

#status_table td, #schedule th {
    border: 1px solid #a94442;
    padding: 8px;
}

#status_table tr:nth-child(even){background-color: #5D001E;}

#status_table tr:hover {background-color: #EE4C7C;}

#status_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9A1750;
    color: white;
}